body {
  background: #588c7e;
}

.container {
  font-family: Lato;
  font-size:1.6em;
}

.pregame {
  padding-top: 20px;
  background: #fff;
  text-align:center;
  border: 3px solid black;
}

.pregame-content p {
  margin-bottom:25px;
}
