<div class="col-xs-12 col-md-9 game-holder" id="colOne">
  <div class="section" id="topbar">
    <div class="col-xs-4 col-sm-3">
      <p id="timer"></p>
    </div>
    <div class="col-xs-4 col-sm-3" id="declaration">
      <p>Somebody called SET!</p></div>
    <div class="col-xs-4 col-sm-3" id="countdownDiv">
      <p id="countdown"></p>
    </div>
    <div class="col-xs-12">
      <h1 id="alert-message"></h1>
    </div>
  </div>
  <div class="section" id="middle">
    <div class="col-xs-12" id="board">
    </div>
    <div id="controls">
      <button id="submit" type="button" onclick="">Go!</button>
      <button id="declare-set" type="button" onclick="">SET!</button>
    </div>
  </div>
<div class="col-xs-12 section">
  <div class="col-xs-12" id="game-info">
    <div class="col-xs-6 col-sm-8" id="all-scores">
    </div>
    <div class="col-xs-6 col-sm-4" id="board-info">
      <p id="remaining"></p>
      <p id="sets-on-board"></p>
    </div>
  </div>
</div>
<div class="col-xs-12 section" id="button-holder">
  <div class="col-xs-6 col-md-2 col-md-offset-8">
    <button class="btn btn-lg" type="button" id="reshuffle" onclick="">Reshuffle</button>
  </div>
  <div class="col-xs-6 col-md-2">
    <button class="btn btn-lg" type="button" id="replay" onclick="">Restart!</button>
  </div>
</div>
</div>
<div class="col-xs-3" id="colTwo">
    {% include 'chat.html' %}
</div>
