<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SET {% block title %}{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href='/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
  <link href="/css/jquery-ui.css" rel="stylesheet">
  <link href="/css/solo.css" rel="stylesheet">
  {% block stylesheets %}
  {% endblock %}

</head>

<body>

  {% block content %}

  {% endblock %}
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src='/bootstrap/js/bootstrap.min.js'></script>

  {% block scripts %}

  {% endblock %}
</body>

</html>
